/*************************************************/
/******************* COLUMNS *********************/

/* Left and right column */
.column-left {
/*    background-color: aqua;*/
    float: left;
    width: 20%;
    height: 100%;
}

/* Middle column */
.column-middle {
/*    background-color: bisque;*/
    float: right;
    width: 80%;
}
.column-center {
    float: right;
    width: 50%;
}

#Menu {
    display: block;
    }

.row {
    overflow-x: hidden;
}


/*************************************************/
/********************** MENU *********************/
        
        /* Main Level */
        ul{
          padding-left: 0px;
          padding-top: 0px;
        }

            /* Second Level */
            ul ul{
              margin-left:10px;
            }

                /* Third Level */
                ul ul ul{
                  margin-left:20px;
                }
        li {
            list-style-type: none;
        }

/*Hide Mobile-Sidebar*/
.container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


/*************************************************/
/***************** VIDEO IFRAME ******************/

.video {
    width: 100%;
    height: auto;
    background-color: aquamarine
}

iframe {
    position: absolute;
    align-content: middle;
}


/*************************************************/
/************ DROPDOW -- SHOW MORE ***************/

.dropdown {
    display: none;
}

a:hover {
     cursor: pointer;
}


/*************************************************/
/********************* Fonts *********************/

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
}

h2, h3, h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
    width: 75%;
    text-align: justify
}

a {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
}


/*************************************************/
/**************** Link Properties ****************/

a:hover {
    color: green;
}

a:link {
    text-decoration: none;
    font-size: 12px
}


li.footer{
    position:fixed;
    bottom:10px;
}

/*************************************************/
/****************** Image Styling ****************/

img {
    width: 75%;
/*    background-color: powderblue;*/
}



/*
 Style the tab 
.row.column.tab {
    float: left;
    border: none;
    background-color: none;
    width: 30%;
    height: 10%;
}
*/

contact.column-middle {
    text-align: center
}

.row-2 {
    width: 37.5% !important;
}

row-2 {
/*    background-color: bisque;*/
    float: right;
    width: 100%;
    display: block;
}


/******* On screens that are 1000px wide or smaller ******/

@media screen and (max-width: 1000px) {
    
/* Left and right column */
.column-left {
/*    background-color: aqua;*/
    float: left;
    width: 30%;
    height: 100%;
}
#Menu {
    display: block;
    }

/* Middle column */
.column-middle {
/*    background-color: bisque;*/
    float: right;
    width: 70%;
}
.column-center {
    float: right;
    width: 70%;
}

img {
    width: 90%;
/*    background-color: powderblue;*/
}    
}


/******* On screens that are 600px or smaller ******/
@media screen and (max-width: 600px) {
    
/* Left and right column */
.column-left {
/*    background-color: aqua;*/
    float: left;
    width: 0%;
    height: 100%;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Middle column */
.column-middle {
/*    background-color: bisque;*/
    float: right;
    width: 100%;
    margin-left: 100px;
}
.column-center {
    float: right;
    width: 100%;
}

img {
    width: 100%;
    float: right;
/*    background-color: powderblue;*/
} 

p {
  width: 100%;  
  }
    
/*Show and Style Mobile-Sidebar*/
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

#Menu{
    z-index: 1;
    width: 0;
    display: none;
    }

.shiftContent {
    width: 100%;
    }
}