:root {
  --col-width: 200px;
}

body {
    box-sizing: border-box;
}

/*************************************************/
/******************* COLUMNS *********************/

/* Left and right column */
.column-left {
    /*background-color: aqua;*/
    float: left;
    width: var(--col-width);
    height: 100%;
}

/* Middle column */
.main-content-container {
    /*background-color: bisque;*/
    float: right;
    width: calc(100% - var(--col-width));
}

.flex-columns {
    justify-content: left;
    flex-direction: row-reverse;
    display: flex;
}

.col-left {
    max-width: 1000px;
    width: auto;
    flex-grow: 1;
}

.col-right {
    flex-shrink: 0;
    padding-left:  16px;
    width: var(--col-width);
}

.flex-columns.caption .col-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.column-center {
    float: right;
    width: 50%;
}

#Menu {
    display: block;
    }


.row {
    overflow-x: hidden;
}

.description-text {
    max-width: 500px;
    float: right;
    margin-bottom: 48px;
    text-align: justify
}

.two-col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.two-col-container {
    display: flex; /* Enables Flexbox */
    flex-wrap: wrap; /* Ensures content wraps if needed */
    gap: 16px; /* Optional: Adds space between columns */
    padding-bottom: 16px;
    padding-top: 16px;
  }

.two-col-container img {
    flex: 1; /* Each column takes up equal space */
    width: calc(50% - 8px); /* 50% of parent width minus half the gap */
    /* min-width: 200px; Ensures columns don’t shrink too much */
    box-sizing: border-box; /* Includes padding and border in width/height */
}


/******************************************************/
/********************** Show Hide *********************/

.toggleVisible{
    display: block;
}

.toggleHide{
    display: none;
}


/*************************************************/
/********************** MENU *********************/
        
        /* Main Level */
        ul{
          padding-left: 0px;
          padding-top: 0px;
        }

            /* Second Level */
            ul ul{
              margin-left:10px;
            }

                /* Third Level */
                ul ul ul{
                  margin-left:20px;
                }
        li {
            list-style-type: none;
        }


#Menu a {
    line-height: 12px !important;
}

#Menu li {
    margin-bottom: 4px;
}

/*Hide Mobile-Sidebar*/
.container {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


/*************************************************/
/***************** VIDEO IFRAME ******************/

.video {
    width: 100%;
    height: auto;
    background-color: aquamarine
}


.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 4px;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}


/*************************************************/
/************ DROPDOW -- SHOW MORE ***************/

.dropdown {
    display: none;
}

a:hover {
     cursor: pointer;
}

.toggle-container{
    /*width:75%;*/
    /*text-align: center;*/
    white-space: nowrap;
}

.toggler {
    
}

.show-more{
    display:block;
}

.show-less{
    display:none;
}

/*************************************************/
/********************* Thank You *********************/
.thank-you-section {
}


/*************************************************/
/********************* Fonts *********************/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #797979;
    line-height: 16px;
    padding: 8px;
    margin: 0px;
    min-height: 100vh;
}

h1 {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h2, h3, h4 {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

p {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight:400;
}

i {
    font-weight: 400;
}

a {
    color: black;
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.menu-category {
    letter-spacing: 1px;
    /* font-weight: 200; */
/*    border-bottom: solid 1px #797979;*/
    font-size: 9px !important;
}

.subtext a {
    color: #989898;
    text-decoration: underline !important;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight:400;
    font-size: 10px
}

.subtext {
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight:400;
    width: 75%;
}





/*************************************************/
/**************** Link Properties ****************/

a:hover {
    color: green;
}

a:link {
    text-decoration: none;
/*    font-size: 12px*/
}


.footer{
    position:fixed;
    bottom:10px;
}

/*************************************************/
/****************** Image Styling ****************/

img {
    width: 100%;
/*    background-color: powderblue;*/
}

#portrait {

/*    max-height: 200px !important;*/
    width: 100%;
}

/*
 Style the tab 
.row.column.tab {
    float: left;
    border: none;
    background-color: none;
    width: 30%;
    height: 10%;
}
*/

contact.column-middle {
    text-align: center
}

.row-2 {
    width: 37.5% !important;
}

row-2 {
/*    background-color: bisque;*/
    float: right;
    width: 100%;
    display: block;
}


/******* On screens that are 1000px wide or smaller ******/

@media screen and (max-width: 1000px) {

    .flex-columns {
        justify-content: left;
        flex-direction: column;
        display: flex;
        margin-bottom: 36px;
    }

    .col-right {
        padding-left: 0;
    }

    .collapse-secondary {
        flex-direction: column-reverse;
    }
        
    /* Left and right column */
    .column-left {
    /*    background-color: aqua;*/
        float: left;
        height: 100%;
    }
    #Menu {
        display: block;
        }

    /* Middle column */
    .column-middle {
    /*    background-color: bisque;*/
        float: right;
    }
    .column-center {
        float: right;
    }

    .description-text {
        float: left;    
    }
        
    img {
        /*width: 90%;*/
    /*    background-color: powderblue;*/
    }
        
    .toggle-container{
        /*width:90%;*/
        }
        
    p {
        /*width: 90%; */
      }
        
    .iframe-container {
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
    }

    .iframe-container iframe {
       border: 0;
       /*height: 90%;*/
       left: 0;
       position: absolute;
       top: 0;
       width: 100%;
    }
}




/******* On screens that are 600px or smaller ******/
@media screen and (max-width: 600px) {
    
/* Left and right column */
.column-left {
/*    background-color: aqua;*/
    float: left;
    width: 0%;
    height: 100%;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Middle column */
.main-content-container {
/*    background-color: bisque;*/
    min-height: 100%;
    float: right;
    width: 100%;
    margin-left: 100px;
}
.column-center {
    float: right;
    width: 100%;
}



img {
    width: 100%;
    float: right;
    margin-bottom: 12px;
} 

.toggle-container{
    width:100%;
    }

p {
  width: 100%; 
  margin-top: 12px
  }
    
/*Show and Style Mobile-Sidebar*/
.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

#Menu{
    z-index: 1;
    width: 0;
    display: none;
    }

.shiftContent {
    width: 100%;
    }
    
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

li.footer{
    position:inherit;
    bottom:10px;
    }
    








/*


****** On screens that are 1000px or larger *****
@media screen and (min-width: 1000px) {
    #portrait {
        max-width: 50%;
    }
}
*/



