
:root {
  --blue-1: #182758;
  --blue-2: #4d639d;
  --grey-1: #a0a0a0;
  --grey-2: gainsboro;
}


body{
    color: var(--grey-1);
    font-family:'Roboto Mono';
    font-size: 10px;
    padding: 48px;
    box-sizing: border-box;
}

.main {

}
wrapper{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
/*    position: relative;*/
/*    border: 1px dashed;*/
    display: flex;
/*    flex-wrap: wrap;*/
    flex-direction: row;
    gap: 12px;
}

main {
    display: none;
}

.map-content{
    display: flex;
    gap: 12px;
    height: auto; 
    width: auto;
    max-width: 100%;
}

.map-wrapper{

/*  max-height: 100%;*/
/*  min-width: 600px;*/
}

#map{
    width: 800px;
    height: 800px;
}

.right-controls {
    width: 200px;
    flex-shrink: 0;
    max-width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    align-content: flex-start;
    align-items: flex-start;
}

#custom-map-controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    z-index: 100;
}
#text-controls, #option-controls {
    /*position: fixed;
    bottom: 0;
    right: 0;*/
    z-index: 100;
/*    width: 100%;*/
}

#toggle-options-container {
    width: 200px;
}
#zoom-container {
/*    position: fixed;*/
/*    top: 0;*/
    z-index: 100;

}

.map-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.map-bottom .meta-container {
    text-align: right;
}

.show {
    display: block !important;
}

.hideUI {
    visibility: hidden;
}

.toggle-container {
    width: 100%;
    display: none;
    border-bottom: 1px solid;
/*    border-top: 1px solid;*/
    margin-top: 12px;
}
#userInput_TextArea {
    width: 100%;
    height: 40px;
    font-size: 11px;
}
#userInput{
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}
form .row {
    display: block;
}
/* message-container {
   position: fixed;
   bottom: 0;
   left: calc(50% - 150px);
   width: 300px;
}
#message {
    text-align: center;
    font-family:'Roboto Mono';
    font-size: 10px;
}*/




/***********************/
/*  MAP FUNCTIONALITY  */

.above-threshold {
    visibility: visible;
}
.below-threshold {
    visibility: hidden;
}      
.leaflet-overlay-pane{
    mix-blend-mode: exclusion;
    z-index: 1000;
}

.tile-wrapper {
    display: block;
    background-color: white;
    width: 128px;
    height: 128px;
    overflow: hidden !important;
}
img.blur {
    filter: brightness(0.9);
    z-index: 100;
    object-fit: cover;
    width: 512px !important;
/*    filter: blur(0px);*/
/*    margin: 20px;*/
    border: white solid 0px;
}


/***************/
/*  TYPOGRAPY  */

a, a:-webkit-any-link {
    color: var(--blue-2);
}

#custom-map-controls, #text-controls {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}

#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div > a { /* leaflet bottom */
    display: none;
}

a:hover {
    background-color: var(--blue-1); !important;
    color: white !important;
}

button, #post-submit {
    padding: 5px 18px;
    font-family: 'Roboto Mono', monospace;
    font-size: 11px;
    border: none;
    text-decoration: none;
    color: var(--blue-1);
    cursor: pointer;
    background-color: var(--grey-2);
    display: block;
    border-radius: 3px;
}
button:hover, .leaflet-control-zoom a:hover, #post-submit:hover, .expanded{
    background-color: var(--blue-2);;
    color: white;
}

.expanded:after {
    content: ' -';
}

.expanded:before {
    content: '- ';
}

/*#post-submit {
    padding: 5px 18px;
    font-family: 'Roboto Mono', monospace;
    border: none;
    text-decoration: underline;
    color: var(--blue-1);
    cursor: pointer;
    background-color: gainsboro;
    display: block;
    border-radius: 4px;
    margin-top: 10px;
}*/

.leaflet-bar a {
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--blue-1);
}
.leaflet-bar{
    box-shadow: none;
}




/*****************/
/* MEDIA QUERIES */

/*@media screen and (max-width: 900px), 
       screen and (max-height: 900px) {
    .map-wrapper{
      aspect-ratio: 1 / 1;
      width: 500px;
/*      max-width: 100%;*/

@media screen and (max-width: 1200px), 
       screen and (max-height: 900px) {
    #map{
      width: 600px ;
      height: 600px ;
    }
}


@media screen and (max-width: 800px) {

    wrapper{
/*        display: none !important;*/
/*        flex-wrap: wrap-reverse;*/
        flex-direction: column-reverse;
    }
    .map-wrapper{
      width: 100%;
      max-width: 800px;
    }

    #map{
        aspect-ratio: 1/1;
        width: 100% ;
        height: unset;
    }

    .controls-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .right-controls {
        align-items: flex-end;
    }

}

@media screen and (max-width: 800px), 
       screen and (max-height: 800px) {

    body{
        padding: 0px;
    }

}

