/*GRID FIX FOR SAFARI, EDGE*/

@supports not (display:grid) {
    
            .project-content {
                width: 100%;
                }

            .project-content > #content {
                display: flex;
                float: right;
                flex-wrap: wrap;
                width: 70%;
                justify-content: center;
                }

            item.overview {
                width: calc(30%);
                box-sizing: border-box;
                margin-left: 4px;
                margin-right: 4px;
                margin-bottom: 8px;
                text-align: center;
                align-items: center;
                border: solid;
                border-color: black;
                background-color: #FFEFD5;
                padding: 8px;
                color: black;
                cursor: pointer;
                }
 
}